.main {
    min-height: 85vh;
    color: var(--text-color);
    margin-top: var(--header-height);
    // min-width: 1920px;
    // margin: auto;
    // @media only screen and (max-width: 765px) {
    //     margin-top: 70px;

    //     min-width: 765px;
    // }
}
