.review {
    display: grid;
}

.progress {
    padding: 30px;
}
.avg {
    line-height: normal;
    text-align: center;
}

.summary {
}

.numberreview {
    // margin-top: 10px;
    text-align: center;
    line-height: normal;
}
