.other-login {
    font-weight: var(--font-normal);
    font-size: var(--small-font-size);
    text-align: center;
    position: relative;
    span {
        display: inline-block;
        width: 150px;
    }
    ::before,
    ::after {
        content: '';
        position: absolute;
        width: calc(50% - 75px); /* 50% width minus half of the desired total width */
        height: 1px;
        top: 10px;
        background-color: #000;
    }

    ::before {
        left: 0;
    }

    ::after {
        right: 0;
    }
}
.forget-password {
    font-size: var(--small-font-size);
    cursor: pointer;
    color: var(--text-color);
    font-weight: 600;
}
.btn-login {
    height: 50px !important;
    margin-bottom: 1.4rem;
    .label {
        font-size: var(--sub-font-size);
        font-weight: var(--font-bold);
    }
}

.btn-register {
    color: var(--title-color);
    font-weight: var(--font-bold);
    font-size: var(--small-font-size);
    cursor: pointer;
    padding: 12px 24px;
}
.btn-register1{
    width: 200px !important;
    height: 50px !important;
    margin-bottom: 1.4rem;
    .label{
        font-size: var(--sub-font-size);
        font-weight: var(--font-bold);
    }
    }
.group-brand{
    button{
        min-width: 120px !important;
    }
}

.btn-register-fb {
    width: 200px !important;
    height: 50px !important;
    margin-bottom: 1.4rem;
    .label {
        font-size: var(--sub-font-size);
        font-weight: var(--font-bold);
    }
}

.groupBrand {
    button {
        min-width: 120px;
    }
}
.text-input-root {
    .input {
        font-size: var(--smal-font-size);
        font-weight: var(--font-normal);
        height: 50px;
    }
    .label {
        font-size: var(--small-font-size);
        font-weight: var(--font-normal);
    }
}
.password-input-root {
    .input {
        font-size: var(--small-font-size);
        font-weight: var(--font-normal);
        height: 50px;
    }
}
