.more {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 25px;
    font-weight: 300;
    color:#858f97;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
}
