.landingPage {
    // min-height: 70vh;
    // margin-top: 2rem;
}

.stat-box {
    width: 175px;
    height: 100px;
    padding: 10px 20px;
    border-radius: 10px;
}
.numberStat {
    font-weight: var(--font-bold);
    font-size: var(--h3-font-size);
}
