.container {
    max-height: 500px;
    position: relative;
    max-width: 1920px;
    margin: auto;
}

.banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
    z-index: 0;
    position: absolute;
    top: 0;
}

.content {
    display: flex;
    z-index: 1;
    position: relative;
    // height: 100%;
    color: var(--text-color-light);
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    justify-content: space-around;
    min-height: 400px;
    // grid-template-columns: 1fr 1fr;
}

.button {
    background-color: transparent;
    border-radius: 0;
    border: 2px solid white;
    color: var(--text-color-light);
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0.5rem 2rem;
}

.wrapper {
    color: var(--text-color-light);
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

.cardInfo {
    position: absolute;
    right: -85px;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.bannerContainer {
    max-width: 1620px !important;
}

.title {
    line-height: normal;
}
