.content-course{
    margin-top: 20px;
}
.tabs-category {
    padding-top: 30px;
    .list-category {
        font-weight: 600;
        margin-bottom: 20px;
        color: var(--title-color-2);
        .tab-label-category {
            font-size: var(--primary-font-size);
            font-weight: var(--font-semi-bold);
            text-align: left;
        }
    }
    .list-category button[data-active] {
        color: var(--title-color);
        border-bottom: 2px solid var(--title-color);
    }
    .list-category button {
        padding-left: 0;
        margin-right: 1rem;
    }
}

.title {
    line-height: normal;
    text-align: center;
    color: var(--title-color);
    padding: 20px;
    border-bottom: 1px solid #00acc1;
}
.titleProfile{
    // padding-top: 20px;
    position: relative;
    text-align: center;
    .icon-close{
        position: absolute;
        top: 5px;
        right: 0;
        svg{
            width: var(--primary-font-size);
            height: var(--primary-font-size);
            stroke: #000;
            stroke-width:0.5px;
           
        }
    }
}

.button-root{
    padding: 9px;
    .inner{
    }
}